<ion-content [fullscreen]="true">
  <div id="map"></div>
  <div class="bottom-btns">
    <ion-button (click)="locateMe()">Locate Me</ion-button>
    <ion-button (click)="startTracking()" [disabled]="isTracking" color="success">Start Tracking</ion-button>
    <ion-button (click)="stopTracking()" [disabled]="!isTracking" color="danger">Stop Tracking</ion-button>
  </div>
  <div class="info-card">
    <p><strong>Start:</strong> {{ latlng.lat }}, {{ latlng.lng }}</p>
    <p><strong>Live:</strong> {{ distanceFromStart() }}m traveled</p>
    <p>{{ display_name() }}</p>
  </div>
  <ion-alert
    [message]="myMessage"
    [header]="myHeader"
    [isOpen]="isAlertOpen"
    (didDismiss)="setOpen(false)"
    [buttons]="alertButtons">
  </ion-alert>
</ion-content>
